
.row{
    background-color: #fff;
}
.sidenav{
    height:100vh;
    background-color: #DEDEED;
}
.sidenav p{
    font-size: 23px;
    background-color: white;
    color: black;
}
.sidenav ul li{
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2px;
    width: 100%;
}
.sidenav ul li a{
    text-decoration: none;
    width: 100%;

}
.sidenav ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width:100%;
}
.sidenav ul li a:hover{
    background-color:white;
    padding:4px;
}

.vote-row{
background-color: #DEECED;}
.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 400px;
}
.col-home{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    color: blue !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/reg.jpeg);
    height: 400px;
    
}
.col-home1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: blue !important;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/vote.jpeg);
    height: 400px;
    
}
.main_footer{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color:black;
}
.main_footer ul{
    list-style: none;

}
.main_footer ul li{
text-transform: uppercase;

margin:3px;

}
.main_footer ul li a{
    text-decoration: none;
    padding: 4px;
}
.main_footer ul li a:hover{
    color: antiquewhite;
    background-color: grey;

}
.view{
    width: 5rem;
    height: 5rem;
    background: #aafd;
    color: white;
    border-radius: 3px;
}
.contents-77{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

}